<div class="ui container ">
  <div class="ui black segment">
  <div class="row ">
    <sui-tabset>
      <div class="ui top attached tabular menu">
        <a class="item" suiTabHeader="1" [(isActive)]="gestorActive">Gestor</a>
        <a class="item" suiTabHeader="2" [(isActive)]="enderecoActive">Endereço</a>
        <a class="item" suiTabHeader="3" [(isActive)]="contatoActive">Contato</a>
        <a class="item" suiTabHeader="4" [(isActive)]="instActive">Instituições</a>
        <a class="item" suiTabHeader="5" [(isActive)]="perfilActive">Perfil</a>
      </div>

      <!--incio da aba Ponto de presença-->
      <div class="ui bottom attached segment" suiTabContent="1">
        <form class="ui form" #fAddGestor="ngForm" (ngSubmit)="salvarGestor(fAddGestor)">
          <!--<h4 class="ui dividing header">Shipping Information</h4>-->
          <div class="field">
            <div class="two fields">

              <div class="field">
                <label>Nome</label>
                <input type="text" name="nome" placeholder="Nome" [(ngModel)]="gestor.nome" required #nome>
              </div>

              <div class="field">
                <label>CPF</label>
                <input type="text" name="cpf" placeholder="cpf" [(ngModel)]="gestor.cpf" required #inep>
              </div>

            </div>
          </div>

          <div class="field">
            <div class="two fields">

              <div class="field">
                <label>Login</label>
                <input type="text" name="login" placeholder="login" [(ngModel)]="gestor.login" required #login>
              </div>

              <div class="field">
                <label>Password</label>
                <input type="text" name="passW" placeholder="passW" [(ngModel)]="gestor.passW" required #passW>
              </div>

            </div>
          </div>

          <div class="field">
            <div class="three fields">

              <div class="field">
                <label>Cargo</label>
                <input type="text" name="cargo" placeholder="cargo" [(ngModel)]="gestor.cargo" required #cargo>
              </div>

              <div class="field">
                <label>Função</label>
                <input type="text" name="funcao" placeholder="funcao" [(ngModel)]="gestor.funcao" required #funcao>
              </div>

              <div class="field">
                <label>Instituição</label>
                <select class="ui dropdown" name="instituicao" [(ngModel)]="gestor.cod_instituicao" required #instituicao>
                  <option value="">Selecione Instituição</option>
                  <option *ngFor="let instituicao of instituicoes" value="{{instituicao.cod_instituicao}}">{{instituicao.sigla}}</option>
                </select>
              </div>

            </div>
          </div>

          <div class="ui stackable one column grid">
            <div class="column">
              <button class="ui secondary right labeled icon button right floated btn-color" type="submit" (click)="enderecoActive = true">
                <i class="angle double right icon"></i> Próximo
              </button>
            </div>
          </div>

        </form>

      </div>
      <!--fim da aba Ponto de presença-->




      <!--incio da aba Endereço-->
      <div class="ui bottom attached segment" suiTabContent="2">
        <form class="ui form" #fAddEndereco="ngForm" (ngSubmit)="salvarEndereco(fAddEndereco)">

          <div class="field">
            <div class="fields">

              <div class="eight wide field">
                <label for="endereco">Endereco</label>
                <input id="endereco" type="text" class="validate" name="endereco" [(ngModel)]="endereco.endereco" required>
              </div>

              <div class="eight wide field">
                <label for="numero">Nº</label>
                <input id="numero" type="tel" class="validate" name="numero" [(ngModel)]="endereco.numero" required>
              </div>

              <div class="eight wide field">
                <label for="bairro">Bairro</label>
                <input id="bairro" type="text" class="validate" name="bairro" [(ngModel)]="endereco.bairro" required>
              </div>

              <div class="eight wide field">
                <label for="complemento">Complemento</label>
                <input id="complemento" type="text" class="validate" name="complemento" [(ngModel)]="endereco.complemento" required>
              </div>
            </div>

          </div>
          <div class="field">

            <div class="three fields">
              <div class="field">
                <label for="cep">CEP</label>
                <input id="cep" type="text" class="validate" name="cep" [(ngModel)]="endereco.cep" required>
              </div>

              <div class="field">
                <label>Estado</label>
                <select class="ui dropdown" [(ngModel)]="endereco.uf" name="uf" (change)="selectEstado(endereco.uf)" required #uf>
                  <option value="">Selecione Estado</option>
                  <option *ngFor="let uf of ufs" value="{{uf.uf}}">{{uf.uf}}</option>
                </select>
              </div>

              <div class="field">
                <label>Município</label>
                <select class="ui dropdown" name="municipio" [(ngModel)]="endereco.cod_ibge" required #municipio>
                  <option value="">Selecione Município</option>
                  <option *ngFor="let municipio of municipios" value="{{municipio.cod_ibge}}">{{municipio.nome_municipio}}</option>
                </select>
              </div>

            </div>
          </div>

          <div class="ui stackable two column grid">
            <div class="column">
              <button class="ui secondary left labeled icon button" type="submit" (click)="gestorActive = true">
                <i class="angle double left icon"></i>Voltar</button>
            </div>
            <div class="column">
              <button class="ui secondary right labeled icon button right floated" (click)="contatoActive = true">
                <i class="angle double right icon"></i>Próximo</button>
            </div>
          </div>
        </form>
      </div>
      <!--fim da aba Endereço-->


      <!--incio da aba Contato-->
      <div class="ui bottom attached segment" suiTabContent="3">
        <form class="ui form" #fAddContato="ngForm" (ngSubmit)="salvarContato(fAddContato)">
          <div class="field">
            <div class="fields">

              <div class="ten wide field">
                <label for="endereco">E-mail</label>
                <input type="text" class="validate" name="email" [(ngModel)]="contato.email" required>
              </div>

              <div class="three wide field">
                <label for="Telefone">Telefone 1</label>
                <input id="numero" type="tel" class="validate" name="tel1" [(ngModel)]="contato.tel1" required>
              </div>

              <div class="three wide field">
                <label for="telefone">Telefone 2</label>
                <input id="bairro" type="text" class="validate" name="tel2" [(ngModel)]="contato.tel2" required>
              </div>

            </div>
          </div>

          <div class="ui stackable two column grid">
            <div class="column">
              <button class="ui secondary left labeled icon button" type="submit" (click)="enderecoActive = true">
                <i class="angle double left icon"></i>Voltar</button>
            </div>
            <div class="column">
              <button class="ui secondary right labeled icon button right floated" (click)="instActive = true">
                <i class="angle double right icon"></i>Próximo</button>
            </div>
          </div>
        </form>

      </div>
      <!--fim da aba Contato-->

      <!--incio da aba Instituições-->
      <div class="ui bottom attached segment" suiTabContent="4">
        <form class="ui form" #fAddContato="ngForm" (ngSubmit)="salvarContato(fAddContato)">
          <div class="field">
            <div class="fields">

              <div class="four wide field">
                <label>Estado</label>
                <select class="ui dropdown" name="uf" [(ngModel)]="seletoreLocal.uf" required #uf>
                  <option value="">Selecione Estado</option>
                  <option *ngFor="let uf of ufs" value="{{uf.uf}}">{{uf.uf}}</option>
                </select>
              </div>

              <div class="six wide field">
                <label>Municipio</label>
                <select class="ui dropdown" name="municipio" [(ngModel)]="seletoreLocal.municipio" required #municipio>
                  <option value="">Selecione municipio</option>
                  <option *ngFor="let municipio of municipios" value="{{municipio.municipio}}">{{municipio.municipio}}</option>
                </select>
              </div>

              <div class="six wide field">
                <label>Bairro</label>
                <select class="ui dropdown" name="bairro" [(ngModel)]="seletoreLocal.bairro" required #bairro>
                  <option value="">Selecione Bairro</option>
                  <option *ngFor="let bairro of bairros" value="{{bairro.bairro}}">{{instituicao.sigla}}</option>
                </select>
              </div>

            </div>
          </div>

          <div class="field">
            <div class="fields">

              <div class="four wide field">
                <label>Tipo de Instituição</label>
                <select class="ui dropdown" name="tipInst" [(ngModel)]="seletoreLocal.tipInst" required #tipInst>
                  <option value="">Selecione</option>
                  <option *ngFor="let tipInst of tipInsts" value="{{tipInst.tipInst}}">{{tipInst.tipInst}}</option>
                </select>
              </div>

              <div class="eight wide field">
                <label>Instituição de Saúde</label>
                <select class="ui dropdown" name="instSau" [(ngModel)]="seletoreLocal.instSau" required #instSau>
                  <option value="">Selecione</option>
                  <option *ngFor="let instSau of instsSau" value="{{instSau.instSau}}">{{instSau.instSau}}</option>
                </select>
              </div>

              <div class="four wide field">
                <button class="ui google plus labeled icon button">
                  <i class="plus icon"></i>
                  Adicionar Instituição
                </button>
              </div>

            </div>
          </div>

          <div class="ui stackable two column grid">
            <div class="column">
              <button class="ui secondary left labeled icon button" type="submit" (click)="contatoActive = true">
                <i class="angle double left icon"></i>Voltar</button>
            </div>
            <div class="column">
              <button class="ui secondary right labeled icon button right floated" (click)="perfilActive = true">
                <i class="angle double right icon"></i>Próximo</button>
            </div>
          </div>
        </form>
        <br>
        <br>
        <br>

        <div class="left floated left aligned sixteen wide column">
          <div class="ui raised segment">
            <a class="ui red ribbon label">INSTITUIÇÕES CADASTRADAS</a>
            <p></p>

            <div class="ui stackable one column grid">

              <div class="sixteen wide column">
                <table class="ui selectable inverted striped table">
                  <thead>
                    <tr>
                      <th class="ui center aligned collapsing">Tipo de Instituição</th>
                      <th class="ui center aligned collapsing">Instituição de Saúde</th>
                      <th class="ui center aligned collapsing">Estado</th>
                      <th class="ui center aligned collapsing">Municipio</th>
                      <th class="ui center aligned collapsing">Ação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="ui center aligned collapsing">
                      <td>John</td>
                      <td>Approved</td>
                      <td>None</td>
                      <td>None</td>
                      <td >
                        <a class="mini ui google plus icon button circular" suiPopup popupHeader="Remover" popupInverted="true" (click)="deletarEmpresa(empresa)">
                          <i class="trash alternate icon"></i>
                        </a>
                      </td>
                    </tr>
                    <tr class="ui center aligned collapsing">
                      <td>Jamie</td>
                      <td>Approved</td>
                      <td>None</td>
                      <td>None</td>
                      <td >
                        <a class="mini ui google plus icon button circular" suiPopup popupHeader="Remover" popupInverted="true" (click)="deletarEmpresa(empresa)">
                          <i class="trash alternate icon"></i>
                        </a>
                      </td>
                    </tr>
                    <tr class="ui center aligned collapsing">
                      <td>Jill</td>
                      <td>Denied</td>
                      <td>None</td>
                      <td>None</td>
                      <td >
                        <a class="mini ui google plus icon button circular" suiPopup popupHeader="Remover" popupInverted="true" (click)="deletarEmpresa(empresa)">
                          <i class="trash alternate icon"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--fim da aba Instituições-->


      <!--incio da aba Perfil-->
      <div class="ui bottom attached segment" suiTabContent="5">

          <div class="ui four column centered grid" *ngIf="BotoesPrincipais">
              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>

              <div class="one column centered row" >
        <div class="ui buttons">
          <button class="ui black button" value="existente" (click)="ativarFuncionalidade(existente.value)" #existente>Selecionar um perfil já existente</button>
          <div class="or" data-text="ou"></div>
          <button class="ui black button" value="novo" (click)="ativarFuncionalidade(novo.value)" #novo>Criar um novo perfil</button>
        </div>
      </div>

      </div>

        <form class="ui form" #fAddPerfil="ngForm" (ngSubmit)="salvarPerfil(fAddPerfil)" *ngIf="controleSelePerfilExistent">
            <div class="header">

                <div class="ui grid">
                  <div class="fifteen wide center aligned column">
                    Selecão de Perfil
                  </div>
                  <div class="one wide column">
                    <i class="big close red link icon" (click)="VoltarBotoesPrin()" suiPopup popupHeader="Cancelar" popupInverted="true"></i>
                  </div>
                </div>
              </div>
          <div class="ui  grid">

            <div class="sixteen wide column">
              <p>Selecione um dos Sistemas</p>
                <div class="ui grid">
                        <div class="three wide column">
                            <sui-radio-button name="example" value="hello" [(ngModel)]="eRadio">Perfis do IRadar Saude</sui-radio-button>
                        </div>
                        <div class="three wide column">
                            <sui-radio-button name="example" value="world" [(ngModel)]="eRadio">Perfis do IQuality Saude</sui-radio-button>
                        </div>
                      </div>
            </div>

            <div class="sixteen wide column">
              <label>Selecione o Perfil</label>
              <select class="ui dropdown" name="perfilIQS" [(ngModel)]="perfil.idPerfil" required #perfilIRS>
                <option value="">Selecione um Perfil</option>
                <option *ngFor="let perfilIQS of perfisIQSs" value="{{perfilIQS.perfilIRS}}">{{perfilIRS.perfilIRS}}</option>
              </select>
            </div>

          </div>

        </form>


        <form class="ui form" #fAddPerfilNovo="ngForm" (ngSubmit)="salvarPerfil(fAddPerfilNovo)" *ngIf="controleCriarNovoPerfil">
            <div class="header">

                <div class="ui grid">
                  <div class="fifteen wide center aligned column">
                    Criação de Perfil
                  </div>
                  <div class="one wide column">
                    <i class="big close red link icon" (click)="VoltarBotoesPrin()" suiPopup popupHeader="Cancelar" popupInverted="true"></i>
                  </div>
                </div>
              </div>  

              <div class="ui grid">
            
                  <div class="six wide column">
                  <label>First Name</label>
                  <input type="text" name="first-name" placeholder="First Name">
                  </div>
              </div>

          <div class="ui grid">

              <div class="eight wide column">
                  <label>Selecione o Perfil IRadar Saude</label>
                  <select class="ui dropdown" name="perfilIQS" [(ngModel)]="perfil.idPerfil" required #perfilIRS>
                    <option value="">Selecione um Perfil</option>
                    <option *ngFor="let perfilIQS of perfisIQSs" value="{{perfilIQS.perfilIRS}}">{{perfilIRS.perfilIRS}}</option>
                  </select>
                </div>

                <div class="eight wide column">
                    <label>Selecione o Perfil IQuality Saude</label>
                    <select class="ui dropdown" name="perfilIQS" [(ngModel)]="perfil.idPerfil" required #perfilIRS>
                      <option value="">Selecione um Perfil</option>
                      <option *ngFor="let perfilIQS of perfisIQSs" value="{{perfilIQS.perfilIRS}}">{{perfilIRS.perfilIRS}}</option>
                    </select>
                  </div>
            </div>
          </form>
          <div class="ui stackable two column grid">
              <div class="column">
                <button class="ui secondary left labeled icon button" (click)="instActive = true">
                  <i class="angle double left icon"></i>Voltar</button>
              </div>
              <div class="column">
                <button class="ui google plus right labeled icon button right floated">
                  <i class="angle double right icon"></i>Aplicar</button>
              </div>
            </div>

          <br>
          <br>
          <br>
  
          <div class="left floated left aligned sixteen wide column" *ngIf="perfisForm" >
            <div class="ui raised segment">
              <a class="ui red ribbon label">PERFIS CADASTRADoS</a>
              <p></p>
  
              <div class="ui stackable one column grid">
  
                <div class="sixteen wide column">
                  <table class="ui selectable inverted striped table">
                    <thead>
                      <tr>
                        <th class="ui center aligned collapsing">Sistema</th>
                        <th class="ui center aligned collapsing">Nome do Modulo</th>
                        <th class="ui center aligned collapsing">Ação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="ui center aligned collapsing">
                        <td>John</td>
                        <td>Approved</td>
                        <td >
                          <a class="mini ui google plus icon button circular" suiPopup popupHeader="Remover" popupInverted="true" (click)="deletarEmpresa(empresa)">
                            <i class="trash alternate icon"></i>
                          </a>
                        </td>
                      </tr>
                      <tr class="ui center aligned collapsing">
                        <td>Jamie</td>
                        <td>Approved</td>
                        <td >
                          <a class="mini ui google plus icon button circular" suiPopup popupHeader="Remover" popupInverted="true" (click)="deletarEmpresa(empresa)">
                            <i class="trash alternate icon"></i>
                          </a>
                        </td>
                      </tr>
                      <tr class="ui center aligned collapsing">
                        <td>Jill</td>
                        <td>Denied</td>
                        <td >
                          <a class="mini ui google plus icon button circular" suiPopup popupHeader="Remover" popupInverted="true" (click)="deletarEmpresa(empresa)">
                            <i class="trash alternate icon"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
  



        <div class="ui stackable four column grid">

          <div class="column" *ngFor="let tipologia of tipologiasGuardadas" suiPopup popupText="Remover Tipologia" popupInverted [popupPlacement]="'top left'">
            <a class="ui button btn-tipologia" (click)="openModal(tipologia)">{{tipologia.nome}}</a>
          </div>

          <sui-modal *ngIf="abrirNodal" [isClosable]="false" [transition]="'scale'" [transitionDuration]="500" #modal>
            <div class="header">

              <div class="ui grid">
                <div class="fifteen wide column">
                  Remoção
                </div>
                <div class="one wide column">
                  <i class="close red link icon" (click)="closeModal(false)"></i>
                </div>
              </div>

            </div>
            <div class="content">
              <p>Tem certeza que deseja remover a tiplogia {{condicao}} ?</p>
            </div>
            <div class="actions">
              <button class="ui red button" (click)="closeModal(false)">Cancel</button>
              <button class="ui green button" (click)="removerTipologia(); modal.approve('done')" autofocus>OK</button>
            </div>
          </sui-modal>

        </div>


     

      </div>
      <!--fim da aba Perfil-->




    </sui-tabset>

  </div>
</div>


</div>