<div class="ui  segment">
<div class="ui two column grid container">
  
    <div class="row">
        <div class=" column ui center aligned  ">
            <button (click)='selecSis(1)' class="huge ui red button">
              IQuality Saúde
            </button>
          </div>
          <div class=" column ui center aligned  ">
              <button (click)='selecSis(2)' class="huge ui blue button">
                IRadar Saúde
              </button>
            </div>
      </div>

   
    
  </div>

  

<div *ngIf="template===1">

    <div class="ui vertical stripe center aligned segment">
        <div class="ui text container segment">
          <h3 class="ui header">IQuality Saúde</h3>
          <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by 
            providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
          <a class="ui large button">Leia mais</a>
          <h4 class="ui horizontal header divider">
            <a href="#">Case Studies</a>
          </h4>
         
        </div>
      </div>

  <div class="ui sub header">Seletores IQuality Saúde</div>
  <div class="ui segment">


    <form class="ui form">

      <div class="field">
        <div class="fields">

          <div class="four wide field">
            <label>Estado</label>
            <select class="ui dropdown" name="uf" [(ngModel)]="seletorLocal.uf" required #uf>
              <option value="">Selecione Estado</option>
              <option *ngFor="let uf of ufs" value="{{uf.uf}}">{{uf.uf}}</option>
            </select>
          </div>

          <div class="six wide field">
            <label>Municipio</label>
            <select class="ui dropdown" name="municipio" [(ngModel)]="seletorLocal.municipio" required #municipio>
              <option value="">Selecione municipio</option>
              <option *ngFor="let municipio of municipios" value="{{municipio.municipio}}">{{municipio.municipio}}</option>
            </select>
          </div>

          <div class="six wide field">
            <label>Bairro</label>
            <select class="ui dropdown" name="bairro" [(ngModel)]="seletorLocal.bairro" required #bairro>
              <option value="">Selecione Bairro</option>
              <option *ngFor="let bairro of bairros" value="{{bairro.bairro}}">{{instituicao.sigla}}</option>
            </select>
          </div>

        </div>
      </div>

      <div class="field">
        <div class="fields">

          <div class="eight wide field">
            <label>Tipo de Instituição</label>
            <select class="ui dropdown" name="tipInst" [(ngModel)]="seletorLocal.tipInst" required #tipInst>
              <option value="">Selecione</option>
              <option *ngFor="let tipInst of tipInsts" value="{{tipInst.tipInst}}">{{tipInst.tipInst}}</option>
            </select>
          </div>

          <div class="eight wide field">
            <label>Instituição de Saúde</label>
            <select class="ui dropdown" name="instSau" [(ngModel)]="seletorLocal.instSau" required #instSau>
              <option value="">Selecione</option>
              <option *ngFor="let instSau of instsSau" value="{{instSau.instSau}}">{{instSau.instSau}}</option>
            </select>
          </div>

        </div>
      </div>

      <div class="field">
        <div class="fields">

          <div class="four wide field">
            <label>Perspectiva Avaliativa</label>
            <select class="ui dropdown" name="persAva" [(ngModel)]="seletorIQS.persAva" required #persAva>
              <option value="">Selecione</option>
              <option *ngFor="let persAva of persAvas" value="{{persAva.persAva}}">{{persAva.persAva}}</option>
            </select>
          </div>

          <div class="six wide field">
            <label>Abrangência - Visão</label>
            <select class="ui dropdown" name="abranVi" [(ngModel)]="seletorIQS.abranVi" required #abranVi>
              <option value="">Selecione</option>
              <option *ngFor="let abranVi of abranVis" value="{{abranVi.abranVi}}">{{abranVi.abranVi}}</option>
            </select>
          </div>

          <div class="six wide field">
            <label>Dimensão Ánalitica</label>
            <select class="ui dropdown" name="dimAn" [(ngModel)]="seletorIQS.dimAn" required #dimAn>
              <option value="">Selecione</option>
              <option *ngFor="let dimAn of dimAns" value="{{dimAn.dimAn}}">{{dimAn.dimAn}}</option>
            </select>
          </div>

        </div>
      </div>

      <div class="ui stackable one column grid">
        <div class="column">
          <button class="ui secondary right floated linkedin button">Aplicar</button>
        </div>
      </div>
    </form>

  </div>
</div>
<div  *ngIf="template===0">

    <div class="ui vertical stripe center aligned segment">
        <div class="ui text container segment">
          <p>Selecione uma das opções acima.</p>
          <a class="ui large button">Leia mais</a>
          <h4 class="ui horizontal header divider">
            <a href="#">Case Studies</a>
          </h4>
         
        </div>
      </div>
</div>

<div  *ngIf="template===2">

    <div class="ui vertical stripe center aligned segment">
        <div class="ui text container segment">
          <h3 class="ui header">IRadar Saúde</h3>
          <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by 
            providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
          <a class="ui large button">Leia mais</a>
          <h4 class="ui horizontal header divider">
            <a href="#">Case Studies</a>
          </h4>
         
        </div>
      </div>

<div class="ui sub header">Seletores IRadar Saúde</div>
<div class="ui segment">

  <form class="ui form">

    <div class="field">
      <div class="fields">

        <div class="four wide field">
          <label>Estado</label>
          <select class="ui dropdown" name="uf" [(ngModel)]="seletorLocal.uf" required #uf>
            <option value="">Selecione Estado</option>
            <option *ngFor="let uf of ufs" value="{{uf.uf}}">{{uf.uf}}</option>
          </select>
        </div>

        <div class="six wide field">
          <label>Municipio</label>
          <select class="ui dropdown" name="municipio" [(ngModel)]="seletorLocal.municipio" required #municipio>
            <option value="">Selecione municipio</option>
            <option *ngFor="let municipio of municipios" value="{{municipio.municipio}}">{{municipio.municipio}}</option>
          </select>
        </div>

        <div class="six wide field">
          <label>Bairro</label>
          <select class="ui dropdown" name="bairro" [(ngModel)]="seletorLocal.bairro" required #bairro>
            <option value="">Selecione Bairro</option>
            <option *ngFor="let bairro of bairros" value="{{bairro.bairro}}">{{instituicao.sigla}}</option>
          </select>
        </div>

      </div>
    </div>

    <div class="field">
      <div class="fields">

        <div class="eight wide field">
          <label>Tipo de Instituição</label>
          <select class="ui dropdown" name="tipInst" [(ngModel)]="seletorLocal.tipInst" required #tipInst>
            <option value="">Selecione</option>
            <option *ngFor="let tipInst of tipInsts" value="{{tipInst.tipInst}}">{{tipInst.tipInst}}</option>
          </select>
        </div>

        <div class="eight wide field">
          <label>Instituição de Saúde</label>
          <select class="ui dropdown" name="instSau" [(ngModel)]="seletorLocal.instSau" required #instSau>
            <option value="">Selecione</option>
            <option *ngFor="let instSau of instsSau" value="{{instSau.instSau}}">{{instSau.instSau}}</option>
          </select>
        </div>

      </div>
    </div>
    <div class="field">
      <div class="fields">

        <div class="four wide field">
          <label>Perspectiva Avaliativa</label>
          <select class="ui dropdown" name="persAva" [(ngModel)]="seletorIQS.persAva" required #persAva>
            <option value="">Selecione</option>
            <option *ngFor="let persAva of persAvas" value="{{persAva.persAva}}">{{persAva.persAva}}</option>
          </select>
        </div>
        <div class="four wide field">
          <label>Perspectiva Avaliativa</label>
          <select class="ui dropdown" name="persAva" [(ngModel)]="seletorIQS.persAva" required #persAva>
            <option value="">Selecione</option>
            <option *ngFor="let persAva of persAvas" value="{{persAva.persAva}}">{{persAva.persAva}}</option>
          </select>
        </div>

        <div class="six wide field">
          <label>Abrangência - Visão</label>
          <select class="ui dropdown" name="abranVi" [(ngModel)]="seletorIRS.abranVi" required #abranVi>
            <option value="">Selecione</option>
            <option *ngFor="let abranVi of abranVis" value="{{abranVi.abranVi}}">{{abranVi.abranVi}}</option>
          </select>
        </div>

        <div class="six wide field">
          <label>Dimensão Ánalitica</label>
          <select class="ui dropdown" name="dimAn" [(ngModel)]="seletorIRS.dimAn" required #dimAn>
            <option value="">Selecione</option>
            <option *ngFor="let dimAn of dimAns" value="{{dimAn.dimAn}}">{{dimAn.dimAn}}</option>
          </select>
        </div>

      </div>
    </div>

    <div class="ui stackable one column grid">
      <div class="column">
        <button class="ui secondary right floated linkedin button">Aplicar</button>
      </div>
    </div>
  </form>

</div>
</div>
</div>