    <div class="ui top attached demo menu">

    <a class="item text" (click)="sidebar.toggle()">
        <i class="sidebar icon"></i>
        <b>Menu</b>
    </a>
    <a class="right item text" [routerLink]="['login']">
        <b>Sign out</b>
    </a>
</div>

<!-- <link rel="stylesheet" href="../css/particles.css">
<script src="../js/app.js"></script>
<script src="../js/particles.js"></script>
<script src="../js/lib/stats.js"></script> -->

<sui-sidebar-container style="background-color: transparent"  class="ui bottom attached segment">
    <sui-sidebar class="inverted vertical" #sidebar>
        <a class="item" (click)="sidebar.close()" [routerLink]="['']">Home</a>
        <a class="item" (click)="sidebar.close()" [routerLink]="['/telaSeletorores']">Seletores</a>
        <a class="item" (click)="sidebar.close()" [routerLink]="['/admin']">Administração</a>
    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
        <div class="ui basic segment">
            <router-outlet></router-outlet>
        </div>
    </sui-sidebar-sibling>
</sui-sidebar-container>
