    <div class="ui top attached demo menu">

    <a style="width: 75% ;background-color: black" class="item text" (click)="sidebar.toggle()">
        <i class="sidebar icon"></i>
        <b>Menu</b>
    </a>
    <a  style="width: 25% ;background-color: black;  padding-left: 10%;" class="item text" [routerLink]="['login']">
            <b >Logout</b>
        </a>
   
</div>

<sui-sidebar-container style="background-color: transparent"  class="ui bottom attached segment">
    <sui-sidebar class="inverted vertical" #sidebar>
        <a class="item" (click)="sidebar.close()" [routerLink]="['']">Home</a>
        <a class="item" (click)="sidebar.close()" [routerLink]="['/telaSeletorores']">Seletores</a>
        <a class="item" (click)="sidebar.close()" [routerLink]="['/admin']">Administração</a>
    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
        <div class="ui basic segment">
            <router-outlet></router-outlet>
        </div>
    </sui-sidebar-sibling>
</sui-sidebar-container>
