<div class="ui segment">
  <div class="ui grid">

    <div class="eight wide column">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn btn-outline-warning" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <!--/span-->

    <div class="eight wide column">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn btn-outline-warning" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <!--/span-->

    <div class="eight wide column">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn btn-outline-warning" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <!--/span-->

    <div class="eight wide column">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn btn-outline-warning" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <!--/span-->
  </div>
</div>